<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://loranzatto.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>loranzatto.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>loranzatto</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$loranzatto</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="LoranzattoPortfolio.Models.ApplicationDbContext, LoranzattoPortfolio" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="C__USERS_USUARIO_DOCUMENTS_VISUAL_STUDIO_2015_PROJECTS_LORANZATTOPORTFOLIO_LORANZATTOPORTFOLIO_APP_DATA_LORANZATTO_MDFCo" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=&quot;C:\USERS\USUARIO\DOCUMENTS\VISUAL STUDIO 2015\PROJECTS\LORANZATTOPORTFOLIO\LORANZATTOPORTFOLIO\APP_DATA\LORANZATTO.MDF&quot;;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\C__USERS_USUARIO_DOCUMENTS_VISUAL_STUDIO_2015_PROJECTS_LORANZATTOPORTFOLIO_LORANZATTOPORTFOLIO_APP_DATA_LORANZATTO_MDFCo_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=&quot;C:\USERS\USUARIO\DOCUMENTS\VISUAL STUDIO 2015\PROJECTS\LORANZATTOPORTFOLIO\LORANZATTOPORTFOLIO\APP_DATA\LORANZATTO.MDF&quot;;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="loranzattoConnectionString" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\loranzatto.mdf;Integrated Security=True;Connect Timeout=30" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\loranzattoConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\loranzatto.mdf;Integrated Security=True;Connect Timeout=30" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
  </ItemGroup>
</Project>